[2016-06-25 02:15] tomwanzek opened #1 "Uncertainty About Deployment Mechanism/Toolchain for Definitions"
Currently there are two primary channels for publishing typescript definitions for third party libraries, where the definitions are not included with the library: [**DefinitelyTyped**](https://github.com/DefinitelyTyped/DefinitelyTyped) and **typings** registry. A separate tool, [_typings_](https://github.com/typings/typings) (or formerly _tsd_), is used for acquisition of definition files and int

[2016-06-25 16:08] tomwanzek opened #2 "Decide on best BaseType for Selection/Transition elements"
In general, the elements of a selection will be DOM elements (HTML or SVG.) These could be captured with the current constraint the `type BaseType = Element` for `d3-selection`, `d3-transition` and DOM event related packages like `d3-drag` and `d3-zoom`.

However, _EnterElement_ (or _EnterNode_) elements constituting the group elements of the `enter()` selection after a data join do not meet this

[2016-06-25 16:33] tomwanzek opened #3 "Event definitions in d3-selection and d3-drag, d3-zoom and d3-brush"
`d3-selection` defines the `event` variable and `customEvent`. The modules `d3-drag`, `d3-zoom` and `d3-brush` define specific implementations of events.

As the `event` variable is routinely accessed in callbacks to access properties specific to the handling of the event in the context it is invoked in, the typing should be flexible enough to support/allow appropriate contextualization.

Given th

[2016-06-25 16:38] tomwanzek commented on #2
The other related example by Mike Bostock is [OMG Particle II](https://bl.ocks.org/mbostock/9539958).
It uses a plain non-DOM object as a starting point.

[2016-06-25 17:10] tomwanzek opened #4 "Localized Module Augmentation of Selection by Transition."
The `Selection` interface defined in `d3-selection` is augmented in relation to __transitions__ in `d3-transition`.

In the definitions this is handled using the standard module augmentation pattern in the `d3-transition` definition file:

[code]

The issue is that the interface augmentation is not localized in the following sense.

A module with the following imports works as intended:

[code]
Th

[2016-06-25 18:05] tomwanzek opened #5 "merge(...) of 'incompatible' selections or transitions"
The primary use case for the `.merge(other)` method on `Selection` and `Transition` is to merge selections or transitions, respectively, that are type-compatible in the following sense:
[code]
Mutatis mutandis for `Transition`. The standard application is merging the __enter__ and  __update__ selection after enter elements have been appended to materialize them.

The open question is, whether ther

[2016-06-26 02:46] tomwanzek opened #6 "d3-array Test"

[2016-06-26 02:49] tomwanzek opened #7 "d3-axis Definition"

[2016-06-26 02:49] tomwanzek opened #8 "d3-axis Tests"

[2016-06-26 02:50] tomwanzek opened #9 "d3-brush Tests"

[2016-06-26 02:51] tomwanzek opened #10 "d3-collection Tests"

[2016-06-26 02:58] tomwanzek opened #11 "Review HistogramGenerator and Bin for typing of number vs 'Numeric'"
Check permissiveness of Histogram related types. `number ` may be to restrictive, for some signatures. See  [d3-array issue](https://github.com/d3/d3-array/issues/34).

[2016-06-26 03:18] tomwanzek opened #12 "rescaleX/Y: Use interface to define minimally necessary type for scale"
__zoomTransforms__ allow the rescaling of scales passed into `rescaleX(...)` and `rescaleY(...)`.

The current draft of `d3-zoom` definitions imports relevant scale type interfaces from `d3-scale`. This coupling is too tight. An minimally necessary interface for a 'ZoomScale' (or similar name), should be added directly to `d3-zoom` to de-couple  and provide a less restrictive contract for typing.

[2016-06-26 03:23] tomwanzek opened #13 "d3-ease Tests"

[2016-06-26 03:24] tomwanzek opened #14 "d3-drag Tests"

[2016-06-26 03:28] tomwanzek opened #15 "d3-path Tests"

[2016-06-26 03:29] tomwanzek opened #16 "d3-polygon Tests"

[2016-06-26 03:46] tomwanzek opened #17 "d3-quadtree Tests"

[2016-06-26 03:48] tomwanzek opened #18 "Validate return type of visitAfter(...)"
Validate the return type of the callback function passed into `visitAfter(...)`. There seems to be some ambiguous wording in the original API documentation.

[2016-06-26 03:50] tomwanzek opened #19 "d3-random Tests"

[2016-06-26 04:57] tomwanzek opened #20 "d3-selection Tests for 'event' and 'customEvent'"

[2016-06-26 05:12] tomwanzek opened #21 "Review 'this' typing and ..args:any[] use"
Review the appropriateness of `this` contexts and use of `...args: any[]` in callback functions were flagged in the definition file as `TODO`.

Decide, if in (some) cases, a signature should be added with the typical `(d, i?, group?)` pattern and GElement `this` context. The more general version should be retained nevertheless.

[2016-06-26 05:12] tomwanzek opened #22 "d3-shape Tests"

[2016-06-26 05:19] tomwanzek opened #23 "Decide on default call signatures for voronoi()"
Decide whether to add a specific call signature of:
[code]
as the default without user specifying `T` in `voronoi?<T>()`, or it defaulting to `any`.

[2016-06-26 05:22] tomwanzek opened #24 "d3-time-format Tests"

[2016-06-26 05:23] tomwanzek opened #25 "d3-transition Tests"

[2016-06-26 05:24] tomwanzek opened #26 "d3-voronoi Tests"

[2016-06-26 05:25] tomwanzek opened #27 "d3-zoom Tests"

[2016-06-26 05:27] tomwanzek opened #28 "d3-chord Definitions"

[2016-06-26 05:28] tomwanzek opened #29 "d3-force Definitions"

[2016-06-26 05:28] tomwanzek opened #30 "d3-hierarchy Definitions"

[2016-06-26 06:35] #12 closed

[2016-06-27 13:21] #7 closed

[2016-06-27 21:22] #28 closed

[2016-06-27 21:32] tomwanzek opened #31 "Convert Standard Bundle Modules (TS2) Definitions/Tests to Typescript 1.8.x"
Once the Core Module (Enhanced) definitions are stable enough (or definition related issues are essentially only related to `this` typing), create a separate branch with 'stripped down' definitions that can readily be used with typescript 1.8.10.

In particular, stripping down refers to removing features which use `this` typing. It may also involve wrapping the definitions into ambient module decl

[2016-06-28 00:50] tomwanzek commented on #21
`this` context of Arc, Pie, Shape and Stack depends on the bound invocation context, if any.

[2016-06-28 00:54] #21 closed

[2016-06-28 15:04] ocombe opened #32 "How to define functions with enhanced this"
I tried the current type definitions with the enhanced "this", but I get a lot of errors in my code from tslint because of "argument type function is not assignable to parameter type this"

Ex with:
[code]

How am I supposed to define the "this" here to avoid this error? Is it just a problem of tslint not being updated to 1.9 (or 2.0) yet?

[2016-06-28 15:08] ocombe opened #33 "d3-selection-multi Definitions"
A lot of methods from Selection support an object as a param. Example:
[code]

The definitions of these functions (attr, style, classed, ...) should allow this object parameter (type any ?).

[2016-06-28 15:45] tomwanzek commented on #32
I disabled tslint. Should be related to tslint not yet supporting the `this`-typing for function definitions of TS 1.9+.

[2016-06-28 15:49] ocombe opened #34 "Selection to transition"
d3-selection and d3-transition both export `Selection`, the one from d3-transition extends the one from d3-selection with the addition of interrupt & transition, but it doesn't work in all use cases.
Let's say that I have a selection:
[code]

now if this is a `Selection` from d3-selection, I cannot call `.transition()` on it, so I change this to a `Selection` from d3-transition, but then if I call

[2016-06-28 15:53] tomwanzek commented on #33
That is a change from d3 v3 to d3-selection. Outside the D3 v4 modules which make up the default bundle there is a separate module d3-selection-multi. I believe that is where the additional functionality resides. I have not looked at it yet (as it is not in the default bundle set).

I tend to recall that there are related issues on D3 which Mike has answered.

[2016-06-28 15:54] ocombe commented on #32
Damn :(
For now I edited your typings to not use the "this", because otherwise I won't see the errors until I save my documents and that's a problem for me :)

[2016-06-28 16:36] tomwanzek commented on #32
I am almost finished working through the first cut of d3-hierarchy. Then I will will refocus on the testing side of things.

I have a few testing files in my local repo, which I have not pushed yet, i.p. for d3-selection/d3-transition.

One fallout of the initial cut of testing will be the following, I intend to create a separate branch with stripped-down versions of the typings (no `this` functio

[2016-06-28 18:21] #30 closed

[2016-06-28 18:39] #23 closed

[2016-06-30 05:38] tomwanzek commented on #32
I added the bulk of the d3-selection tests, which show how to use the `this` typing. They compile without errors using the grunt task with the dev-dependency typescript@next. Where indicated with 'fails' in commented out code segments, uncommenting the respective block will create compile time errors which are considered intentionally created.

Will complete the data-join tests and event-related t

[2016-06-30 05:38] #32 closed

[2016-06-30 05:41] ocombe commented on #33
Yeah so these functions have been renamed with an "s": `.attr({ ... })` is now `.attrs`, same thing for the others (styles, ...).
`.attr` doesn't support object parameters anymore !

[2016-06-30 05:42] tomwanzek commented on #20
Added tests for `d3-selection` module. Pending:
- [x] data-join additional tests(`data`) for signature with function argument and when data type changes
- [x] DOM manipulation (`insert`)
- [x] `event`, `customEvent`

[2016-06-30 05:48] tomwanzek commented on #33
Just for reference, I am going to reopen this issue. Rename it to 'd3-selection-multi definitions' (Not default bundle).

I am placing it into _parking lot_ for the time being to focus on the other main items.

[2016-06-30 14:30] tomwanzek commented on #4
Added test segment showing module augmentation bleed:

[d3-selection-test.ts](https://github.com/tomwanzek/d3-v4-definitelytyped/blob/master/tests/d3-selection/d3-selection-test.ts) has only the following import:

[code]

At the end of the file, the following test segment indicates lines that are unexpectedly compiling
successfully:

[code]

[2016-06-30 19:15] tomwanzek commented on #5
Closed as it seems irrelevant.

[2016-06-30 19:15] #5 closed

[2016-07-01 18:29] tomwanzek commented on #20
Changed name of issue to refer specifically to `event` and `customEvent(...)`  to reflect the scope of missing tests. This is related to issue #3 and the possible need to generalize the definition of `event` and `BaseEvent.sourceType` types, given the variety of potential uses (including custom events).

This may imply that, `event` and `sourceEvent` will simply of type `any` and code using them,

[2016-07-01 22:12] tomwanzek commented on #3
After reviewing the different contexts (including the use in listeners for `customEvent`) in which D3 `event` from _d3-selection_ is used, it seems most flexible to type it as `any`. Then explicit casting at the programmers discretion can be used to contextualize it, where needed.

With this strategy, the interfaces defined for D3 events in _d3-drag_, _d3-zoom_ and _d3-brush_ can be used for casti

[2016-07-01 22:36] #3 closed

[2016-07-01 22:36] #14 closed

[2016-07-01 22:36] #20 closed

[2016-07-01 22:39] tomwanzek commented on #2
Decoupled element base type for d3-drag from d3-selection, same will apply to d3-zoom. Issue is irrelevant to d3-brush.

[2016-07-02 01:47] #13 closed

[2016-07-04 12:56] ocombe commented on #32
Just to let you know that tslint now supports typescript 2.0 :-)

[2016-07-04 13:04] tomwanzek commented on #32
Thanks for the info! Will have a quick check-up on the repo toolchain (bring in  my usual grunt task and need to check the tslint plugin for VS Code. Would be nice :smile:!

[2016-07-04 14:19] tomwanzek commented on #32
Done! TS Lint in place and linted

[2016-07-04 16:48] #25 closed

[2016-07-04 16:48] #34 closed

[2016-07-04 17:06] #4 closed

[2016-07-04 17:15] tomwanzek commented on #34
@ocombe Can you please let me know, if you still experience any issue as initially outlined above. I closed this issue, as the d3-transition and d3-selection tests in the repo perform as expected. (Now that I pushed all the d3-transition tests).

There is a minor quirk related to what I had previously referred to as 'module augmentation bleed' in the d3-selection tests. In that, the `Selection` in

[2016-07-05 16:36] tomwanzek commented on #29
Redrafting use of generics between forces and force layout.

[2016-07-06 17:49] #27 closed

[2016-07-07 13:22] tomwanzek opened #35 "Review generalization of argument to translate(...), scaleBy(...), scaleTo(...)"
Review whether recently made generalization of element type and datum type for `Selection` or `Transition` which can be passed into to `ZoomBehavior` methods  `translate(...)`, `scaleBy(...)`, and `scaleTo(...)` is really sensible.

Should probably revert the change and restrict again to element and datum type of `ZoomBehavior`. Datum type must not break accessor functions that have previously bee

[2016-07-07 14:28] #9 closed

[2016-07-07 15:47] #15 closed

[2016-07-07 15:56] tomwanzek opened #36 "d3-scale Tests"

[2016-07-08 02:10] #36 closed

[2016-07-08 04:58] #19 closed

[2016-07-08 05:39] tomwanzek opened #37 "d3-format tests"

[2016-07-08 05:46] tomwanzek commented on #37
Tests added.

[2016-07-08 05:46] #37 closed

[2016-07-08 13:39] #8 closed

[2016-07-08 13:50] tomwanzek opened #38 "Use of TimeInterval in axis ticks(...)"
The `ticks(...)` method of an axis with a `Date` based domain should ideally be typed as:
[code]
Here `TimeInterval` is an interface imported from the **d3-time** module. However, since the **d3-axis** module has no dependency on **d3-time**, this would create a definitions level dependency, which is unnecessary when time scales are not used for the axis.

Currently, there is a separate line with

[2016-07-08 14:27] #24 closed

[2016-07-08 14:32] tomwanzek opened #39 "d3-chord tests"

[2016-07-08 14:32] tomwanzek opened #40 "d3-hierarchy tests"

[2016-07-08 14:54] tomwanzek commented on #22
By major module component:
- [x] Arc
- [x] Pie
- [x] Line
- [x] Area
- [x] Curve Factories
- [x] Symbols
- [x] Stacks

[2016-07-10 23:02] #22 closed

[2016-07-11 04:54] #39 closed

[2016-07-11 05:57] tomwanzek commented on #2
If the `BaseType` underlying `Selection` and `Transition` is relaxed. Then `NodeListOf` should be replaced with a new interface `ArrayLike` or similar to circumvent the inherent  constraint on node list elements.

[2016-07-11 06:02] tomwanzek commented on #1
See [DefinitelyTyped issue for new D3 v4 definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9936).

[2016-07-11 11:04] jnm2 commented on #38
If importing d3-time.js is necessary to use the TimeInterval method, is there any way to have the TimeInterval method light up when d3-time is added? Is there a way for one d.ts to detect whether types from another d.ts are available?

If it's not necessary to import d3-time.js to use the TimeInterval method, is it possible to define TimeInterval both places if not already defined?

[2016-07-11 14:42] tomwanzek commented on #38
To my knowledge there is no way to create conditional imports/exports as part of writing definition files, let alone adding/removing related method signatures from an interface. Should there be a pattern, I would be curious to know.

The **current workaround** would be to manually change the commenting in/out for the related `import` and `ticks(...)` signatures, whenever your project uses d3-time.

[2016-07-11 15:19] tomwanzek opened #41 "Exporting to d3 global from separate modules (duplicate identifier error)"
Using `export as namespace d3;` to export each separate D3 module to a _merged_ `d3` global creates a compiler error: **Duplicate Identifier 'd3'**

When the individual D3 modules are used in a vanilla context (i.e. separately included scripts), they all expose their methods/properties under a `d3` global. See [release notes for D3 version 4 regarding different use scenarios supported](https://git

[2016-07-11 16:49] jnm2 commented on #38
I guess part of the question is, what happens if you call the TimeInterval method in plain JavaScript without d3-time? If that succeeds at runtime, I would also expect the TypeScript TimeInterval method definition to be available without d3-time's type definitions.

If this is the case, I see a legitimate place for a d3 core d.ts because it's necessary for you to unify something which was duplicat

[2016-07-13 00:02] tomwanzek commented on #41
Posted related question to aforementioned (closed) Typescript 2.0 issue.

[2016-07-13 01:00] tomwanzek commented on #40
Tests by major component within the module:
- [x] hierarchy
- [x] stratify
- [x] cluster
- [x] tree
- [x] treemap
- [x] partition
- [x] pack
- [x] packSiblings, packEnclose

[2016-07-13 03:03] #16 closed

[2016-07-13 14:58] #40 closed

[2016-07-13 15:31] tomwanzek commented on #41
Opened as [new issue on typescript](https://github.com/Microsoft/TypeScript/issues/9681).

[2016-07-14 10:13] fpozzobon opened #42 "D3-time-format Type expected"
Hi,

I get the following issue with d3-time-format/index.d.ts :
=> (53,63): error TS1110: Type expected.

Shouldn't it return "Date" instead of "(Date | null)" ?

Note : I use ts-loader

[2016-07-14 14:10] tomwanzek commented on #42
In order to understand your issue, can you please clarify the following for me, assuming you have not made any changes to the definitions in your fork:

(1) Are you referring to an error caused on line the last line of this interface, i.e. the `utcParse(...)` method?

[code]

In the current file version in the repo this would be line 52.

(2) I am not using ts-loader, however, I suspect somewhere

[2016-07-14 14:51] fpozzobon commented on #42
Thank you for your answer, in fact all the lines with (Date | null) have the error, I think this is because I am using the last stable version of typescript (1.8.10) and as far as I understand the Non-nullable types are introduced in the 2.0.0 (cf https://blogs.msdn.microsoft.com/typescript/2016/07/11/announcing-typescript-2-0-beta/).

The fork was simply a missclick ;)

[2016-07-14 15:04] tomwanzek commented on #42
No worries. While the compilation context currently does not enforce strictNullChecks, you are right, the null and undefined types are also reaching into the new feature set. (Have been too focused on the `this` context to call it out).

As I finalize the definitions with completed tests for the definitions I am tracking under the Milestone Core Modules (Enhanced), I intent to create a derived set

[2016-07-14 15:04] #42 closed

[2016-07-14 18:02] #26 closed

[2016-07-14 20:18] tomwanzek commented on #18
Return type of callback function passed in to `visitAfter(...)` should be void. Internally nothing happens with the return value. The confusion with the API wording probably needs correcting indicating that `visitAfter(...)` returns the the Quadtree (not its root);

[2016-07-14 20:18] #18 closed

[2016-07-14 20:46] #17 closed

[2016-07-15 13:19] tomwanzek commented on #6
Remaining to be done:
- [x] bisect
- [x] histogram

[2016-07-15 13:22] tomwanzek commented on #10
To be done:
- [x] map
- [x] set
- [ ] nest

[2016-07-17 08:42] Ledragon opened #43 "Questions about contributing"
Hi,
First of all, thanks for this repo, it's great to be able to find all new d3 types in a single place rather that the huge DefinitelyTyped repo.
I have a few questions:
- I started working on the [`d3-request` API](https://github.com/Ledragon/d3-v4-definitelytyped/blob/master/src/d3-request/index.d.ts), How do I make sure nobody else is doing it at the same time? I.e. how to avoid concurrent wo

[2016-07-18 07:28] devgru commented on #2
IMHO This case is not relevant, selection there was used to start transition, it was the only way to do it in v3. For v4 one can simply run `d3.transition()` and it will work.

[2016-07-18 18:21] #11 closed

[2016-07-18 20:14] #6 closed

[2016-07-18 21:00] tomwanzek opened #44 "d3-request Definitions"
Add Definitions for **d3-request** module.

Important: Under this milestone _Data Acquisition (Enhanced)_. The definitions should be structured as proper modules/UMD-style module definitions. I.e., they should be comparable to the modules tracked under milestone _Core Modules (Enhanced)_ and contained in the  master branch of this repo.

Combined with their tests, they should compile successfully

[2016-07-18 21:19] tomwanzek opened #45 "d3-request Tests"

[2016-07-18 21:35] tomwanzek opened #46 "d3-queue Definitions"
Add Definitions for **d3-queue** module.

Important: Under this milestone _Data Acquisition (Enhanced)_. The definitions should be structured as proper modules/UMD-style module definitions. I.e., they should be comparable to the modules tracked under milestone _Core Modules (Enhanced)_ and contained in the  master branch of this repo.

Combined with their tests, they should compile successfully us

[2016-07-18 21:37] tomwanzek opened #47 "d3-dsv Definitions"
Add Definitions for **d3-dsv** module.

Important: Under this milestone _Data Acquisition (Enhanced)_. The definitions should be structured as proper modules/UMD-style module definitions. I.e., they should be comparable to the modules tracked under milestone _Core Modules (Enhanced)_ and contained in the  master branch of this repo.

Combined with their tests, they should compile successfully usin

[2016-07-18 21:40] tomwanzek opened #48 "d3-queue Tests"

[2016-07-18 21:42] tomwanzek opened #49 "d3-dsv Tests"

[2016-07-18 21:45] tomwanzek opened #50 "d3-geo Definitions"
Add Definitions for **d3-geo** module.

Important: Under this milestone _Additional Layout (Enhanced)_. The definitions should be structured as proper modules/UMD-style module definitions. I.e., they should be comparable to the modules tracked under milestone _Core Modules (Enhanced)_ and contained in the  master branch of this repo.

Combined with their tests, they should compile successfully usi

[2016-07-18 21:45] tomwanzek opened #51 "d3-geo Tests"

[2016-07-19 14:51] Ledragon commented on #45
Started working on [this](https://github.com/Ledragon/d3-v4-definitelytyped/blob/master/src/d3-request/index.d.ts). I will keep going on, and try to PR ASAP

[2016-07-21 03:58] tomwanzek commented on #2
@devgru Thanks for your perspective above.

After a second review, I have chosen to walk a middle ground as follows:
1. I replaced `NodeListOf<...>`  with a new interface `ArrayLike<...>` where the former was too restrictive. The result is that passing in an `HTMLCollectionOf<...>` no  longer throws an error (with ES6 target). Also `EnterElement` is now a permissible element type, which allows the

[2016-07-21 04:44] tomwanzek commented on #43
In response to the  above, here are my thoughts in terms of 'Roadmap':

While I absolutely understand where you come from with respect to the vast expanse that is DefinitelyTyped, I am working on moving the definitions/tests contributed under this repo into DefinitelyTyped. The rationale has to do with:
- the @types organization and the new vision for definitions acquisition through npm.  The @typ

[2016-07-21 08:14] Ledragon commented on #43
Thanks for the more than complete answer. Your choice of making a PR to DT makes total sense, as it would be way too hard to maintain both list of definitions in parallel. I think my question would have been better formulated as something like "How do types go to DT?"; the fact that you intend to submit a PR totally answers that.

Regarding the contributing guide, I think maybe something just rela

[2016-07-21 09:08] Ledragon commented on #50
Started [here](https://github.com/Ledragon/d3-v4-definitelytyped/tree/d3-geo/src/d3-geo)

[2016-07-21 16:11] tomwanzek commented on #43
Thanks for your take. A mini **Contributing.md** should indeed do for this repo. I will look into posting one later today. The basis above is a good starting point.

The two items I held back on for now are the JSDoc comments urls to the official API documents. For some of the modules there was still quite some flux and it is a matter of triaging.

IMHO the comments can be added in when the functi

[2016-07-21 22:22] #35 closed

[2016-07-21 22:22] #10 closed

[2016-07-22 02:20] zbjornson opened #53 "d3.select(window) fails"
(Related to #2)

It looks like you have a test around this, but `d3.select(window)` is a pretty common pattern that fails right now. Could BaseType extend to `Element | EnterElement | Window`?

[2016-07-22 02:34] zbjornson opened #54 "Ambiguity in `data` key function argument"
In this:
[code]

`d` is inferred as `{} | number`, which I *think* is an unnecessary ambiguity.

Changing this:
[code]

to this:

[code]

resolves the ambiguity, but I'm not sure if there's a use case I'm missing where the original Datum and not the NewDatum would be passed to the key fn.

[2016-07-22 02:55] tomwanzek commented on #54
I'll have to look at it again tomorrow, I thought I saw something in the source code, where the key function was invoked in two different spots with slightly different arguments.

[2016-07-22 03:06] zbjornson commented on #54
Ah you're right, my bad.

[2016-07-22 03:06] #54 closed

[2016-07-22 09:05] aendra-rininsland commented on #43
Hi! I too would like to contribute!

If I might make a suggestion — perhaps provide installation instructions for people using `typings`, I'm still not entirely sure what the best way is. It might also be worthwhile to add a `typings.json` into the root of the repo so testers can just do:

`$ typings install github:tomwanzek/d3-v4-definitelytyped/ --save`

Awesome work on this, though — I'm so inc

[2016-07-22 14:24] Ledragon opened #55 "d3-scale-chromatic Definitions"
Hi,
Knowing it is not part of the standard bundle, I don't know if it is something of interest for this repo, but I started to use [d3-scale-chromatic](https://github.com/d3/d3-scale-chromatic), which provides quick access to the [color brewer](http://colorbrewer2.org/) color palettes, and thus wrote some (limited amount) of the API.
Would it make sense to complete it and submit a PR in this repo,

[2016-07-22 19:13] tomwanzek commented on #43
I started the process of migrating the definitions that are complete with tests into the pipeline for **DefinitelyTyped**. More details are provided in my response to the [issue **definition request for D3 v4.1.x**](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9936).

@aendrew thanks for the additional offer to contribute.

I will update the **README** and add a 'mini' **Contributing.

[2016-07-22 19:17] tomwanzek commented on #53
I will move this over the #2 and reopen it. So it stays in the main thread.

[2016-07-22 19:17] #53 closed

[2016-07-22 19:23] tomwanzek commented on #2
As per comment from @zbjornson `d3.select(window)` should be supported.

**Option 1:** Expand the union type alias `BaseType = Element | Window | EnterElement`

**Option2:** Generalize all the way to `BaseType = any` (i.e. explicit `any`)

Up for discussion, preference indication.

[2016-07-22 19:37] tomwanzek commented on #55
I am aware of the module, but have not looked at it since it was created. So I am not sure if it is alpha/beta/RC or stable?

In broad terms I would prioritize as follows:
1. Complete TS 2 versions of definitions cum tests for all standard module bundles and migration to DefinitelyTyped/types-2.0.
2. Convert complete modules to TS 1.8.x and migrate to DefinitelyTyped/master

As with your suggested

[2016-07-23 15:53] tomwanzek commented on #45
Added definitions from PR #52 by @Ledragon.

[2016-07-23 15:53] tomwanzek commented on #45
Added tests from PR #52 by @Ledragon.

[2016-07-23 16:44] tomwanzek commented on #44
Added definitions from PR #52 by @Ledragon.

I have changed the naming convention for the generics to `RequestData` and `ResponseData`  from the original PR. This is to avoid confusion with other uses of the concept of _request type_ and i.p. _reponse type_ in the module definition.

Also, we need to review the `DSVRequest` interface and check the parameterization of the `row(...)` method. `Reques

[2016-07-24 09:23] Ledragon commented on #55
It is in version 1.0.1, so I guess it is stable.
I will for sure not make it my number one priority, I just wondered if those "satellites" modules would find their place in the repo; I now have an answer to that.
I will keep going on with geo as soon as I have time, my week-end is kinda busy though ;-)

[2016-07-24 09:38] Ledragon commented on #44
Indeed `DsvRequest` should not include any `RequestData` as these have nothing to do there. I like your idea of `<ResponseDatum, MappedResponseDatum>`; I will let it sink in.

Indeed the request interface could be made generic, something I did not think about upfront, but as all generating methods have a strongly typed argument, that would make total sense.

[2016-07-24 09:42] devgru commented on #2
IMHO **Option 1** is preferrable, Window is a special case, mostly used to handle resize events.

[2016-07-24 13:36] tomwanzek commented on #44
The reason I did not consider making `Request<...>` generic right away, was simply that I am not that familiar with how folks are using it. As I said, I previously mostly used Angular's `$http` or `$resource` for the data side of things... (the `node` side of things completely aside...)

Given that one can use `d3-request` for different actions (GET, PUT, ...) The data submitted with the request,

[2016-07-24 13:40] tomwanzek commented on #2
Thanks @devgru . I will leave this open slightly longer to see if anyone else wants to chime in. Then I will make the resulting change in this repo and on the side of DefinitelyTyped (if the current PR is still not merged by then, I will amend, otherwise, will do a follow-up PR.)

[2016-07-24 13:43] tomwanzek commented on #55
I started with the update of the README/Contributing and specifically referred to d3-scale-chromatic and d3-selection-multi in it. Where I would draw an absolute line in the sand for this repo, are definitions for any D3 extension module that are not authored by Mike Bostock as a lead. Even if they are published under the **d3** organization.

[2016-07-24 15:23] tomwanzek opened #56 "Migrate Standard Bundle Modules (TypeScript 2) to DefinitelyTyped/@types"
This issue tracks the high-level status of migrating the _Typescript 2_ definitions with test to **DefinitelyTyped** (`types-2.0` branch) and their propagation to the **@types organization**.

| Module | DefinitelyTyped/types-2.0 | @types |
|---|---|---|
| **d3-array** | Current | _Current +_ |
| **d3-axis** | Current | _Current  +_ |
| **d3-brush** | Current | _Current  +_ |
| **d3-chord** | Curr

[2016-07-24 18:51] jnm2 commented on #2
@tomwanzek @devgru I remember @mbostock saying that he intended you to be able to select anything, specifically that he did not want it to be limited (https://github.com/d3/d3/issues/2854#issuecomment-226317109):

To me that's a good argument in favor of explicit `any` because explicit `any` documents the fact that you are intended to give any kind of object. A more restrictive type would be misle

[2016-07-24 19:57] tomwanzek commented on #2
As with many things in real life this is not a clear-cut situation. The reason why I am sitting firmly on the fence when it comes to this tradeoff, is imply the following.

I wholly understand Mike's desire for generality. Although, he clearly acknowledges that the matter is

Working only in Javascript allows tremendous flexibility, but comes at a massive cognitive burden for developers, testers,

[2016-07-24 20:08] jnm2 commented on #2
Well said and I could not agree more!

In my mind though, that decision has already been made by the library. Sometimes the code will _not_ fail at runtime with an `any` object. I agree that it's poor API design with cognitive load, but is it the place of the type definition to put idealistic restrictions on the intended usage of the library?

Also, allowing `Window` will run into the same objecti

[2016-07-24 20:10] jnm2 commented on #2
Here's an alternative: what if you had overloads of `select` that had a different return type depending on whether you use the `any` overload, the `Window` overload, or an element overload? It's extra typing work but would be rewarding because it could prevent all the fail-at-runtime scenarios while still providing fine-grained API.

I'm suggesting that as a long term goal. You have a better grasp

[2016-07-24 21:50] tomwanzek opened #57 "d3-force Tests"

[2016-07-24 22:10] tomwanzek commented on #1
Started migration to DefinitelyTyped.

See [Roadmap](https://github.com/tomwanzek/d3-v4-definitelytyped#roadmap) and the related issue on [Request for d3.js API update from v3 to v4.1.0](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9936).

Closing this broad strategy issue. I will open migration specific issues as they arise.

[2016-07-24 23:15] tomwanzek commented on #44
FYI, I have consolidated some milestones for issue tracking/prioritization. All _Standard Bundle Modules_ for D3 have been combined into a single milestone per TypeScript Version of the definition/tests. As a result, I removed a few more granular milestones primarily meant for my own work load prioritization.

[2016-07-24 23:16] tomwanzek commented on #45
FYI, I have consolidated some milestones for issue tracking/prioritization. All _Standard Bundle Modules_ for D3 have been combined into a single milestone per TypeScript Version of the definition/tests. As a result, I removed a few more granular milestones primarily meant for my own work load prioritization.

[2016-07-24 23:16] tomwanzek commented on #50
FYI, I have consolidated some milestones for issue tracking/prioritization. All _Standard Bundle Modules_ for D3 have been combined into a single milestone per TypeScript Version of the definition/tests. As a result, I removed a few more granular milestones primarily meant for my own work load prioritization.

[2016-07-24 23:16] tomwanzek commented on #51
FYI, I have consolidated some milestones for issue tracking/prioritization. All _Standard Bundle Modules_ for D3 have been combined into a single milestone per TypeScript Version of the definition/tests. As a result, I removed a few more granular milestones primarily meant for my own work load prioritization.

[2016-07-24 23:16] tomwanzek commented on #47
FYI, I have consolidated some milestones for issue tracking/prioritization. All _Standard Bundle Modules_ for D3 have been combined into a single milestone per TypeScript Version of the definition/tests. As a result, I removed a few more granular milestones primarily meant for my own work load prioritization.

[2016-07-24 23:17] tomwanzek commented on #49
FYI, I have consolidated some milestones for issue tracking/prioritization. All _Standard Bundle Modules_ for D3 have been combined into a single milestone per TypeScript Version of the definition/tests. As a result, I removed a few more granular milestones primarily meant for my own work load prioritization.

[2016-07-24 23:17] tomwanzek commented on #48
FYI, I have consolidated some milestones for issue tracking/prioritization. All _Standard Bundle Modules_ for D3 have been combined into a single milestone per TypeScript Version of the definition/tests. As a result, I removed a few more granular milestones primarily meant for my own work load prioritization.

[2016-07-24 23:17] tomwanzek commented on #48
FYI, I have consolidated some milestones for issue tracking/prioritization. All _Standard Bundle Modules_ for D3 have been combined into a single milestone per TypeScript Version of the definition/tests. As a result, I removed a few more granular milestones primarily meant for my own work load prioritization.

[2016-07-25 03:37] tomwanzek commented on #43
I materially updated the README with Roadmap info. The first part of the CONTRIBUTING.md is there as well. Need to put some finishing touches on it tomorrow.

Please note that I have added Travis CI to the change control process.

[2016-07-25 03:43] tomwanzek commented on #50
@Ledragon please note that I added a minimal skeleton for d3-geo into the repo. Since you already started, the only thing might be to copy over the header comments, i.p. for the definition file.

I would suggest, you add yourself to the already listed authors under _definitions by_. As I said, I have kept the original D3 definitions authors in their out of gratitude and for added support once the

[2016-07-25 18:23] tomwanzek commented on #43
Completed CONTRIBUTING.md.
@Ledragon @aendrew Please, let me know, if this addresses what you need to know at this point. Suggestions welcome.

[2016-07-25 19:54] tomwanzek opened #60 "d3-selection-multi Tests"

[2016-07-25 19:55] tomwanzek opened #61 "d3-scale-chromatic Tests"

[2016-07-25 20:58] tomwanzek commented on #41
No action from the TS team on the opened [TypeScript issue](https://github.com/Microsoft/TypeScript/issues/9681) to date. Followed up earlier.

The matter was also cross-referenced as a known open issue with an ask for comment/response in the DefinitelyTyped issue tracking the migration of this repo. See [this comment](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9936#issuecomment-234

[2016-07-26 00:36] #29 closed

[2016-07-26 00:36] #57 closed

[2016-07-26 16:08] tomwanzek commented on #47
Started on definitions and tests in feature branch `d3-dsv`.

[2016-07-26 18:24] #47 closed

[2016-07-26 18:24] #49 closed

[2016-07-26 19:20] Ledragon commented on #43
Wow, great job! This seems to be more than the mini guide discussed, but his is just awesome.

On a side not,e to ensure style consistency, I think `.editorconfig` file can be used, so that the editor knows how to propagate pre-defined rules. I never did it myself, but contributed to [this](https://github.com/SamVerschueren/angular2-polyfill) project that used it. It requires an extension for VS c

[2016-07-26 19:22] Ledragon commented on #55
Sound very clear, and a reasonable way to draw the line. Totally on board with this.

[2016-07-26 19:23] Ledragon commented on #50
Thanks for letting me know, I will merge this update in my branch when I have a bit more time.

[2016-07-26 19:28] Ledragon commented on #44
Maybe having a type on the interface for the `ResponseData`, but not `RequestData`, the same way `angular.IPromise<T>` is returned when using `$http`?

[2016-07-27 02:41] tomwanzek commented on #43
Thanks. Will consider `.editorconfig`, even if it just for future reference. I'll close this issue for now.

[2016-07-27 02:41] #43 closed

[2016-07-27 03:34] tomwanzek commented on #46
Starting definitions in branch d3-queue.

[2016-07-27 10:49] aendra-rininsland commented on #43
@tomwanzek Nicely done! 👍 I have nothing to add, that's a _very_ detailed README! 😄

[2016-07-28 01:21] #46 closed

[2016-07-28 01:21] #48 closed

[2016-07-28 01:32] tomwanzek commented on #50
@Ledragon Thanks for working on this. Could you kindly give me a rough indication of the timeline you have in mind? I will look into d3-request next as I have just finished d3-queue. Afterwards, I intend to tackle d3-selection-multi and d3-scale-chromatic, unless you or someone else beats me to the punch :smile: Which would be great!

I also will see, if I can move things ahead w.r.t. the migratio

[2016-07-28 13:59] Ledragon commented on #50
I'm getting back to it, I hope this can be done by tomorrow evening.

You can find my (very light) WIP on d3-scale-chromatic [here](https://github.com/Ledragon/MakeOverMonday29/blob/master/src/typings-custom/d3-scale-chromatic.d.ts).

[2016-07-28 15:35] Ledragon commented on #50
I included a dependency to [GeoJSON](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/geojson/geojson.d.ts) to be able to type some parameters in the geo API. However, I went the "crappy" way, i.e. ambient module for GeoJSON types and adding a `///<ref path>` in the index.d.ts file. What would be the correct way to do this?

[2016-07-28 20:52] tomwanzek commented on #50
I'll look at it and see what I can come up with. I am just going to have a look at d3-request first now.

[2016-07-29 02:34] tomwanzek commented on #44
I looked into it and created a new branch `d3-request-finalization`. I made some initial suggested changes to the definitions see [here](https://github.com/tomwanzek/d3-v4-definitelytyped/blob/d3-request-finalization/src/d3-request/index.d.ts).

The issue that I see at this point is that adding generics to the interfaces `Request` and `DSVRequest` seems to add complication with predicting, how peo

[2016-07-29 02:37] tomwanzek commented on #45
Tests in `d3-request-finalization`-branch need updating to reflect the latest draft of **d3-request** definitions.

[2016-07-29 02:42] tomwanzek opened #65 "Chore: Implement editorconfig comparable to DefinitelyTyped and Clean-Up Files"
Given the ultimate target repo DefinitelyTyped, should implement the editorconfig used there.
Clean-up files in this repo to match (i.e. indentation, trailing white-space, final empty line.)

[2016-07-29 08:40] Ledragon commented on #50
The definitions are now complete. Do you prefer that I submit them independently from tests, or one PR for both test and definitions (the API surface being quite large)?

[2016-07-30 15:48] Ledragon commented on #51
Completed tests [here](https://github.com/Ledragon/d3-v4-definitelytyped/tree/d3-geo/src/d3-geo), except a couple of TODOs I have to analyze further, and might need your assistance on.

[2016-07-30 16:17] tomwanzek commented on #51
Thanks and no problem. I am sitting down right now to touch up the d3-request tests, after I made some edits on the definitions. I will than create a pull request and let you know, so you can review and comment before I merge it into master.

Then I will start looking at the d3-geo. Do you want to create a PR for d3-geo already and I comment there? Let me know.

[2016-07-30 16:43] tomwanzek opened #66 "Chore: Change Return Types to `this` in interfaces which are chainable"
Previously, I explicitly typed the return type of interface methods which are chainable, rather than returning `this`.

The step was an interim measure to have clearer visibility to the `this` type of function contexts. I.e. searchable while refining the approach to the callbacks.

Given the stability of the definitions at this point. Now would be a good time to use `this` return type, where appli

[2016-07-30 18:38] tomwanzek opened #68 "Chore: Add JSDoc comments to definitions"

[2016-07-30 19:15] tomwanzek commented on #65
Done. Thanks @Ledragon for the input.

[2016-07-30 19:15] #65 closed

[2016-07-30 20:24] tomwanzek commented on #50
@Ledragon I looked at the way you are importing GeoJSON. Apologies for the delay, just wanted to get the other todos of my desk as mentioned.

The preferred approach for TS2 would be as follows:
- remove all the **typings** scaffolding you used to be able to use `/// <ref path.... />`
- On your branch run the following to install the GeoJSON definitions using the TS2 way from **@types**: `npm inst

[2016-07-30 21:20] tomwanzek commented on #50
@Ledragon I have added a branch `d3-geo-finalization`. Can you submit any PRs related to to d3-geo against this branch.

When we are done we'll merge from there to master. In looking over the D3 API docs I noticed that some sections are as of yet not finished from Mike's side.

A couple of things, as I started taking a peek at the definitions in your fork's d3-geo branch (i.e. preliminary):
- if y

[2016-07-31 17:02] tomwanzek commented on #45
Tests complete. Awaiting PR #67 peer review.

[2016-07-31 17:02] tomwanzek commented on #44
Definitions complete. Awaiting PR #67 peer review.

[2016-07-31 17:10] tomwanzek commented on #68
Standard Bundle:
- [ ] d3-array
- [ ] d3-axis
- [ ] d3-brush
- [ ] d3-chord
- [ ] d3-collection
- [ ] d3-color
- [ ] d3-dispatch
- [ ] d3-drag
- [ ] d3-dsv
- [ ] d3-ease
- [ ] d3-force
- [ ] d3-format
- [ ] d3-geo
- [ ] d3-hierarchy
- [ ] d3-interpolate
- [ ] d3-path
- [x] d3-polygon
- [ ] d3-quadtree
- [x] d3-queue
- [ ] d3-collection
- [ ] d3-random
- [ ] d3-request
- [ ] d3-scale
- [ ] d3-selec

[2016-07-31 19:11] Ledragon commented on #65
Most welcome!

[2016-08-01 23:38] #44 closed

[2016-08-01 23:38] #45 closed

[2016-08-02 15:54] #38 closed

[2016-08-02 15:56] tomwanzek commented on #38
Now that a lot of the higher priority items were resolved. I circled back to the source code of d3-axis and d3-scale. It seems the minimal interface added in #70 addresses the issue as flexibly as possible. :tada:

[2016-08-03 13:27] gustavderdrache commented on #33
Are these definitions still up for grabs? I'd love to roll up my sleeves and pitch in, if you'd allow me.

[2016-08-03 14:22] tomwanzek commented on #33
@gustavderdrache Totally welcome and most appreciated. @Ledragon is working away on d3-geo, I have a couple of follow-ups to do there as well. So, yes, if you want to tackle d3-selection-multi that would be great. I think the augmentation pattern would be similar to what d3-transition does for d3-selection. With the exception that d3-selection-multi does not have actual exports of its own.

There

[2016-08-03 14:27] tomwanzek commented on #2
@gustavderdrache @Ledragon @ocombe @zbjornson Can you have a look at this issue as well. Would be interested in your respective takes so we can close this off, w.r.t. options 1 or 2.

[2016-08-03 15:43] gustavderdrache commented on #2
I have a short reply and a long reply, in that order.

### The short reply:

Don't let perfect be the enemy of the good. Let's stick with `BaseType` being a union of `Element` and `EnterElement`. We have to accept that the underlying JavaScript library is more flexible than we can give a type too, and that's okay.

That having been said, the simplest fix would be to weaken the `Element` requiremen

[2016-08-03 16:06] mbostock commented on #2
No; `d3.select({}).transition()` and `d3.transition()` are different; [d3.transition](https://github.com/d3/d3-transition#transition) creates a transition on document.documentElement, so it will interrupt any other active transition on the document element when it starts. That‘s relevant for the particle system because you want more than one particle active at a time.

However, there are perhaps t

[2016-08-03 17:01] tomwanzek commented on #2
Hi All,

Thanks for the additional input (in particular @mbostock taking some time out of his already busy schedule). Mike could you kindly expand on the virtual DOM WebGL use case you have in mind?

From a level-setting perspective, the new definitions for the `Selection` and `Transition` interfaces are driven by four generics:
1. A generic corresponding to the type of _element_ in the selection

[2016-08-04 13:56] tomwanzek opened #72 "d3-sankey Definitions"

[2016-08-04 13:57] tomwanzek opened #73 "d3-sankey Tests"

[2016-08-04 13:57] tomwanzek opened #74 "d3-hexbin Definitions"

[2016-08-04 13:58] tomwanzek opened #75 "d3-hexbin Tests"

[2016-08-04 13:59] tomwanzek opened #76 "d3-tile Definitions"

[2016-08-04 14:00] tomwanzek opened #77 "d3-tile Tests"

[2016-08-04 14:00] tomwanzek opened #78 "d3-hsv Definitions"

[2016-08-04 14:01] tomwanzek opened #79 "d3-hsv Tests"

[2016-08-04 14:02] tomwanzek opened #80 "d3-geo-projection Definitions"

[2016-08-04 14:02] tomwanzek opened #81 "d3-geo-projection Tests"

[2016-08-04 14:17] tomwanzek commented on #73
Intend to tackle this one myself.

[2016-08-04 14:23] tomwanzek commented on #41
Reiterated the need for guidance/response to T[ypeScript issue 9681](https://github.com/Microsoft/TypeScript/issues/9681) by cross-reference in the [tracking issue 9936 for D3 Definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9936) and affected PRs on DefinitelyTyped.

[2016-08-04 14:27] tomwanzek opened #82 "Chore: Skeletons for Newly Added Optional Scope Modules"

[2016-08-04 14:31] tomwanzek commented on #50
@Ledragon FYI I just added **d3-geo-projection** to the list of optional module scope items. Have not yet checked details as they pertain to definitions overlap with d3-geo for e.g. interfaces. But d3-geo-projection has a proper dependency on d3-geo. So whatever is need could be imported.

[2016-08-04 16:46] Ledragon commented on #50
Thanks for letting me know. I am sorry I am not more available at the moment, I will check the items discussed in the PR ASAP (most likely this week-end), so that I can move forward and pick on another module!

[2016-08-04 16:50] tomwanzek commented on #50
Hey, no worries. I will also go through the remainder of the current PR before the weekend  and see  what else comes up. If anything. Appreciate the check-in!

[2016-08-04 17:43] #82 closed

[2016-08-04 19:22] tomwanzek commented on #33
Closed with PR #71.

[2016-08-04 19:22] #33 closed

[2016-08-04 19:23] tomwanzek commented on #60
Closed with PR #71.

[2016-08-04 19:23] #60 closed

[2016-08-06 15:35] #78 closed

[2016-08-06 15:35] #79 closed

[2016-08-06 15:49] tomwanzek opened #85 "Relax argument constraints using ColorSpaceObject to accomodate d3-hsv"
**d3-interpolate** has methods interpolating color space objects. The standard D3 bundle defines several colorspace objects in **d3-color**. As a separate non-standard module d3-hsv defines the HSV color space object.

Review the methods in **d3-interpolate** and **d3-color** which accept a `ColorSpaceObject` as input. The argument type is currently narrowly defined as an intersection type, but sh

[2016-08-06 16:01] tomwanzek opened #86 "scaleSequential should permit numeric, coercible arguments"
Follow-up fix to comments on initial DefinitelyTyped PR 10228.

[2016-08-06 16:05] tomwanzek opened #87 "Chore: Clean-Up callback parameter optionality use ValueFn type"
Clean up callback function parameter optionality syntax for consistency.

Move `ValueFn` type alias from **d3-selection-multi** into **d3-selection** and import/re-use for **d3-transition** and **d3-selection** as well.

[2016-08-06 20:51] Ledragon commented on #2
I just caught up with all this very interesting talk, I hope I will manage to make a relevant comment (otherwise, throw tomatoes at me).

I already used D3 v3 together with AngularJS (1.x) in directives, to create element via the [link](https://docs.angularjs.org/api/ng/service/$compile#-link-) function, and selecting my DOM element using the `iElement` argument of the link function (typed as `JQu

[2016-08-09 01:12] tomwanzek opened #88 "brush.move(...) method of brush behavior has return type void"
The `move(...)` method of `BrushBehavior<Datum>` does not return the `BrushBehavior<Datum>`. It is of return type `void`.

[2016-08-09 01:51] tomwanzek opened #89 "Simulation.tick() has return type void not Simulation"

[2016-08-09 04:56] #66 closed

[2016-08-09 04:56] #85 closed

[2016-08-09 04:56] #86 closed

[2016-08-09 04:56] #87 closed

[2016-08-09 04:56] #88 closed

[2016-08-09 04:56] #89 closed

[2016-08-10 02:50] tomwanzek commented on #78
@arrayjam Thanks again for the contribution :tada: ! As indicated, in my comment to PR #84 I have made some edits **d3-color** and **d3-interpolate** such that they also accept the color object defined in **d3-hsv**. Or similar color space objects for that matter. I made some minor related edits to your definition in turn. Purely editorial to keep it comparable to d3-color and some chores I tackle

[2016-08-10 02:55] tomwanzek commented on #60
@gustavderdrache Thanks again for the contribution :+1: ! I have moved the `ValueFn` type alias to tackle the chore you had rightly pointed out wrt to the inconsistent use of `?` in some callback signatures.

I am getting ready to open another PR on DT to bring over the completed changes in this repo since the initial PR (Some enhancements, some bug fixes, and chores.) I will include **d3-selectio

[2016-08-10 03:01] arrayjam commented on #78
Great! (and there's no need to justify your edits 😄)

I think [this line](https://github.com/tomwanzek/d3-v4-definitelytyped/blob/master/src/d3-hsv/index.d.ts#L8) is now extraneous.

Semi-relatedly, I'm currently working on updating the typings for turf.js, but have run into a problem. If you have time, could you take a look at [my stackoverflow question](http://stackoverflow.com/questions/3884342

[2016-08-10 03:19] tomwanzek commented on #78
Thanks. I'm not familiar with turf.js, so I probably can't be of much value off the top of my head. I.e. not sure how the library is structured. Unfortunately, I don't have a ton of extra bandwidth i.p. over the next few days. So I can't make any promises right now.

On a general note, there is this guide on [authoring declarations in the TypeScript Handbook repo](https://github.com/Microsoft/Type

[2016-08-10 03:22] arrayjam commented on #78
That's a new resource to me and it looks in-depth. Thank you!

[2016-08-10 04:05] tomwanzek commented on #51
@Ledragon To save you some work, hold off on adding more tests for now. As I review the proposed definitions merged  with PR #69, I may add in extra tests for my own clarification as I go along... Cheers!

[2016-08-10 18:32] Ledragon commented on #51
Ok, kinda glad to hear, but I feel like I'm letting you down on this... :worried:
I'll make sure to do better on the next one!

[2016-08-10 19:25] tomwanzek commented on #51
Hey, absolutely not. Great work and I know this one was not easy, because
the API doc is not as straightforward. I'm not even sure I will need to add
anything in. That was more a way of saying: Let's not waste cycles by doing
the same thing concurrently.

On Aug 10, 2016 2:32 PM, "Hugues Stefanski" notifications@github.com
wrote:

[2016-08-10 19:34] Ledragon commented on #51
Ok, let's fly as is then.
I'll try to get started on d3-scale-chromatic... some day :p

[2016-08-10 19:38] Ledragon opened #92 "Individual module/methods import"
Using these new types, is it possible to import individual modules/methods in files?

I tend to not use the standard bundle and pick what I use on a file-by-file basis, doing things like:
[code]

This does not seem to be working currently... Am I missing something with the new `@types` way of doing things, or should the declarations be adapted to be able to account for that use case?

Typings inst

[2016-08-10 19:55] Ledragon commented on #92
My bad, wrong compiler was being used. Managed to get it working.
And got it working in VS Code, thanks to [this article](http://ilikekillnerds.com/2016/07/getting-visual-studio-code-work-next-versions-typescript/).

[2016-08-10 19:55] #92 closed

[2016-08-11 21:01] spiffytech opened #93 "Installing from github: issue referencing d3-selection"
Since DefinitelyTyped branch types-2.0 doesn't look deployed yet, I'm trying to install the v4 typings directly from GitHub. `typings` is getting confused by `d3-zoom` and `d3-drag`'s reference to `d3-selection`, since it's not correctly guessing `d3-selection` is a folder it should peek inside of.

[code]

The following fix inside `d3-drag` & `d3-zoom` works locally:

[code]

Is this fix acceptab

[2016-08-12 01:24] tomwanzek commented on #41
Now under active discussion under [Typescript Issue 9681](https://github.com/Microsoft/TypeScript/issues/9681)

[2016-08-12 02:04] tomwanzek commented on #93
@spiffytech The vast majority of the individual modules are now available through the @types organization in their first version. The key exceptions are **d3-dsv**, **d3-request** and the definition file for the the standard D3 bundle **d3**. These are currently in a PR on DefinitelyTyped, as a couple of transition issues need to be addressed with respect to legacy version definitions for **d3** (

[2016-08-12 02:04] #93 closed

[2016-08-12 14:00] spiffytech commented on #93
Ah, TIL. I misunderstood the relationship between `typings` and @types, and got confused when `typings search` showed some, but not all, d3 typings available from npm.

I've installed directly from npm as you directed, and all is well. Thanks!

[2016-08-16 19:40] spiffytech opened #94 "d3-force: force.initialize should be optional"
According to the [d3-force README](https://github.com/d3/d3-force#forces), `force.initialize` is optional. The typings should accept a bare function as the `force` parameter for `force.force(name, force)`.

[2016-08-16 23:21] tomwanzek commented on #94
Thanks. You are indeed correct. I will make the corresponding fix with a PR I am getting ready with a minor change the the `.force()` method.

[2016-08-17 02:36] tomwanzek commented on #50
Created PR #95 from d3-geo-suggestions branch to d3-geo-finalization to capture additional thoughts on the definitions and related tests.

[2016-08-17 02:36] tomwanzek commented on #51
Created PR #95 from d3-geo-suggestions branch to d3-geo-finalization to capture additional thoughts on the definitions and related tests.

[2016-08-17 04:57] #94 closed

[2016-08-17 13:01] OlivierBoucher opened #97 "[Request] - Instructions to try out the typings"
Hi Tom,

Sorry to file out this issue but I couldn't find your email anywhere. I just wanted to know what would be the easiest way to try out the typings. I'm already using typescript@next and I wondered if simply copy pasting the src would do it.

Thanks

[2016-08-17 16:40] tomwanzek commented on #97
Hi  Olivier,

If you have a look at the Module-Level Status section of the README, you will find an updated status of which module definitions have been migrated in an initial version to the `DefinitelyTyped/types-2.0` branch and propagated to the npm @types organization. Where in initial version is available on @types, you can simply install the definition with e.g.

[code]

When you install them

[2016-08-17 16:40] #97 closed

[2016-08-17 17:02] olivierboucher commented on #97
Thanks a lot !

[2016-08-17 20:52] tomwanzek opened #99 "d3-selection-multi: Add explicit import/tests for ValueMap interface"
Change import statement for d3-selection-multi in the test file, so that `ValueMap` is imported and not just the module required for augmentation side-effects.

Add tests of interface for completeness.

[2016-08-17 22:00] tomwanzek opened #100 "Remove RGBColor import in d3-interpolate definitions"
Not required.

[2016-08-18 02:17] tomwanzek commented on #2
Alright, after letting this issue simmer for a little (and getting some other work done), here are a couple of (hopefully :wink: ) final considerations.

## Usage with Angular

@Ledragon thanks for raising the Angular question. Here is my take on it:

### Angular 1.x/JQuery

The `element` argument passed into the `link` function is something like `IAugmentedJQuery` or `JQuery`. In either case the

[2016-08-18 02:40] #99 closed

[2016-08-18 02:40] #100 closed

[2016-08-18 17:14] Ledragon commented on #55
Started [here](https://github.com/Ledragon/d3-v4-definitelytyped/tree/d3-scale-chromatic)

[2016-08-18 22:53] tomwanzek opened #105 "Migrate Optional Scope Modules (TypeScript 2) to DefinitelyTyped/@types"
This issue tracks the high-level status of migrating the _Typescript 2_ definitions with tests to **DefinitelyTyped** (`types-2.0` branch) and their propagation to the **@types organization**.

| Module | DefinitelyTyped/types-2.0 | @types |
|---|---|---|
| **d3-geo-projection** | _not started_ | _not started_ |
| **d3-hexbin** | _not started_ | _not started_ |
| **d3-hsv** | Current | Current  |

[2016-08-18 23:12] tomwanzek commented on #55
Thanks for taking this one on next!

[2016-08-20 15:41] tomwanzek commented on #2
I am going to close this for now. Should anything new arise, more than willing to revisit. :smile:

[2016-08-20 15:41] #2 closed

[2016-08-20 15:54] tomwanzek opened #106 "Review latest minor version updates of D3 modules"
* Check if latest minor version updates of D3 modules had any impact on definitions
* Update header comments to refer to latest minor versions

[2016-08-20 16:33] #106 closed

[2016-08-20 17:46] tomwanzek opened #108 "Follow-Up Point pairs"
Follow-up on point pair like interfaces that were defined  for reference purposes and as the basis for extensions e.g. in d3-voronoi, because e.g. `[number, number]` cannot be used as extension.

See if the interfaces can be tightened up a bit as per suggestion raised by @gustavderdrache in the initial migration PR on DT.

[2016-08-20 18:39] #108 closed

[2016-08-22 18:40] tomwanzek opened #110 "Creating transition on Selection from other Transition"
The type constraint on the interface augmentation `Selection.transition(...)` for generating a transition from an existing transition should probably be relaxed.

I.e. more like:
[code]
Note that, the returned Transition is still a transition on the elements of the Selection from which it was created.

As an example, where this strategy is in use, see [Brush & Zoom II](https://bl.ocks.org/mbostock

[2016-08-23 15:00] #110 closed

[2016-08-23 19:19] tomwanzek commented on #31
I am not going to tackle this, until there is more clarity on open structural issues flagged/cross-referenced under the main DT thread for the D3 Definitions Request.

[2016-08-23 19:22] tomwanzek commented on #41
Still open on TypeScript. Has been flagged as **Question** and assigned owner.

[2016-08-23 19:38] tomwanzek commented on #56
The main issue related to the migration, is the treatment of definitions in DT which consume the legacy versions. By implication this also includes the relationship to the  DT `master` branch.

These issues, primarily affecting the definitions held in PR 10453 on DT, as reflected in the DT issues [9936](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9936) and [10711](https://github.com/

[2016-08-23 20:20] tomwanzek commented on #1
I am re-opening this issue to reflect the risk that a complete migration to DT/@types may not be possible.

This risk is qualitatively distinct from the issues tracking the module-level migration status (#56 and #105 ).

While the definitions for the standard bundle modules are complete in this repo, there has been _no progress_ in clearing up the apparent structural DT/@types transition issues af

[2016-08-23 20:27] bykbtzr commented on #56
I can hardly wait to use this... thanks for your efforts man ^_^

[2016-08-23 20:41] tomwanzek commented on #56
More than welcome. For clarity, most of the individual definitions are already available using `npm install @types/d3-***** --save`. Including the contributions by @Ledragon @gustavderdrache and @arrayjam .

Hopefully, the remaining cloud does not rain on the parade for too much longer... :smile:

[2016-08-24 16:25] bykbtzr commented on #56
Glad to hear that!
I just didn't managed yet to use everything as a single namespace you know...
AFAIK, even If I install the definitions for all d3 libraries that I use I still can't do something like this:

[code]

This will be possible when the migration is finished right?

[2016-08-24 16:39] tomwanzek commented on #56
@snolflake Assuming you use D3 with module imports as seems to be the case, you are right that the bundle defintions which support `import * as d3 from 'd3'` are still held back by the migration issues flagged on DefiniteltyTyped.

In the interim, you can simply create a barrel of your own using re-exports as a workaround, i.e.:

[code]

Then you simply use `import * as d3 from './bundle-d3'` with

[2016-08-24 22:24] bykbtzr commented on #56
Indeed! I was using unbundled D3 to get all functionality at once (the way mbostock divided the libraries can be quite counter intuitive some times), then I've tried to put the definitions in a global namespace in so many ways... I remember it always ended up in some TS error.

Well, now that things are more clear to me, I've switched back into using individual d3 packages and created a barrel as

[2016-08-25 14:11] tomwanzek commented on #56
I guess from Mike's perspective it makes total sense.

When using D3 as vanilla script, not matter whether you use the bundled script or the individual scripts, you always access through an exposed `d3` global. So D3 consuming code is re-usable.

When using D3 with module imports, it's all up to the programmer, given that one can build a barrel and use import aliases as one sees fit.

The limitati

[2016-08-25 21:41] wz2b commented on #56
I get the idea here but I am missing something to make it work.  With an angular-cli app I made _src/app/bundle-d3.ts_ that contains

[code]

Then, _just as a test,_ in _src/app/app-component.ts_:

[code]

and I get this:

so I think I'm on board with the idea - I create a bundle file that just re-exports all the modules I care about, then I import the entire thing using 'import \* as d3' ... but

[2016-08-28 07:11] Ledragon opened #114 "d3-request in types?"
Hi,
It seems that definitions for `d3-request` are not yet available in the npm repository.  Were these not submitted in PR, or is it an issue on their side?

[2016-08-30 06:06] tomwanzek commented on #114
Hi, sorry for the slight delay. Yes, d3-request has been held in migration limbo due to its dependency on d3-dsv. There is an open PR  on DT which contained it alongside the definitions for the d3 standard bundle.

The hold-up had to do with clarifying, how d3 and d3-dsv relate to the legacy definition files still in DefinitelyTyped. In particular, any _other_ library definitions which depend on t

[2016-08-30 06:19] tomwanzek commented on #56
@wz2b the short answer is, when building a barrel, one has to re-export the actual modules, not the definitions. The definitions are _implicitly_ resolved by TS2, if they were installed from @types.

To give you a better idea, I have created an [Angular 2 service for D3](https://github.com/tomwanzek/d3-ng2-service) which illustrates the principle. It is also published on npm for import into **angu

[2016-08-31 17:59] airasheed opened #115 "IONIC 2 build error with typings from @types"
I'm attempting to us D3 v4. I installed the typings from @types as  done in your the service [d3-ng2-service](https://github.com/tomwanzek/d3-ng2-service/blob/master/package.json#L91). I used the same format as you have in your package.json  as well as creating a barrel. All worked well until I tried to run ionic serve. When using ionic serve it fails when trying to build. The error doesn't seem t

[2016-08-31 18:47] Ledragon commented on #114
Ok thanks for the info.

No rush needed, I can workaround without it.

[2016-09-01 01:32] tomwanzek commented on #115
@airasheed could you kindly let me know the following to get a better understanding:
- What version of TypeScript are you using on your project? Should be TS 2.x for the definitions to work as intended. Also, depending on where you copied the error messages for **d3-zoom** from, this could be caused by the editor using a different version, than your local devDependency. E.g. in VSCode, you have to

[2016-09-01 02:40] tomwanzek commented on #114
I have closed the previously held-up PR 10453 on DT after reviewing the response from Ryan Cavanaugh to the New Contribution Guide/Transition Issues Question I had posted. I copied you there FYI.

I have since opened a new PR for just **d3-dsv** and **d3-request** on DT: [PR 10947](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/10947) on which you are mentioned as well.

I am going to clo

[2016-09-01 02:40] #114 closed

[2016-09-01 02:50] tomwanzek opened #116 "Migration of D3 Standard Bundle Definition File"
| Definition | DefinitelyTyped/types-2.0 | @types |
|---|---|---|
| **Standard D3 Bundle** | [PR 10453 closed without merge](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/10453) | _pending DT_  |
_(This definition re-exports the D3 modules in the following table and exposes a `d3` global for vanilla script use)_

The migration of the `d3` definitions file for the Standard Bundle is curre

[2016-09-01 02:56] tomwanzek commented on #56
Updated migration status. Split out migration of Standard Bundle Definition for **d3** itself into issue #116.

[2016-09-01 03:06] airasheed commented on #115
Thanks for the quick reply.

I'm using TS Version 1.8.10. The Ionic 2 project is using this version is there any other alternative? How would I normally update to TS 2.x, because the website is only showing TS 1.8.10.

[2016-09-01 04:24] tomwanzek commented on #115
On a general note, there is a brand new TS 2 release candidate. See this [MSFT blog post](https://blogs.msdn.microsoft.com/typescript/2016/08/30/announcing-typescript-2-0-rc/)

So far, I used the TS 2 beta. As a matter of fact, for _any_ of the definitions from the npm @types org to work, you will need TS 2. This is due to the fact that the compiler includes a new way of resolving type definitions

[2016-09-01 04:24] #115 closed

[2016-09-01 11:55] airasheed commented on #115
Thanks alot. Is there anyway to use D3 with out migrating to version TS 2.x? Can i ignore the typings some way at compile time?

[2016-09-06 10:26] mark3448 commented on #93
http://stackoverflow.com/questions/39344686/using-typescript-2-types-with-typescript-1-8-10

i'll be happy to get an answer if possible.

[2016-09-13 20:35] tomwanzek commented on #81
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed. Should you be interested in  contributing a definitions with tests for this optional scope module, please contribute on DefinitelyTyped directly.

[2016-09-13 20:35] #81 closed

[2016-09-13 20:35] tomwanzek commented on #80
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed. Should you be interested in  contributing a definitions with tests for this optional scope module, please contribute on DefinitelyTyped directly.

[2016-09-13 20:35] #80 closed

[2016-09-13 20:36] tomwanzek commented on #77
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed. Should you be interested in  contributing a definitions with tests for this optional scope module, please contribute on DefinitelyTyped directly.

[2016-09-13 20:36] #77 closed

[2016-09-13 20:36] tomwanzek commented on #76
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed. Should you be interested in  contributing a definitions with tests for this optional scope module, please contribute on DefinitelyTyped directly.

[2016-09-13 20:36] #76 closed

[2016-09-13 20:36] tomwanzek commented on #75
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed. Should you be interested in  contributing a definitions with tests for this optional scope module, please contribute on DefinitelyTyped directly.

[2016-09-13 20:36] #75 closed

[2016-09-13 20:36] tomwanzek commented on #74
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed. Should you be interested in  contributing a definitions with tests for this optional scope module, please contribute on DefinitelyTyped directly.

[2016-09-13 20:36] #74 closed

[2016-09-13 20:36] tomwanzek commented on #73
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed. Should you be interested in  contributing a definitions with tests for this optional scope module, please contribute on DefinitelyTyped directly.

[2016-09-13 20:36] #73 closed

[2016-09-13 20:36] tomwanzek commented on #72
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed. Should you be interested in  contributing a definitions with tests for this optional scope module, please contribute on DefinitelyTyped directly.

[2016-09-13 20:36] #72 closed

[2016-09-13 20:38] tomwanzek commented on #56
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed.

[2016-09-13 20:38] #56 closed

[2016-09-13 20:42] tomwanzek commented on #68
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed. It will be carried over to DefinitelyTyped to minimize effort in synching the repos.

[2016-09-13 20:42] #68 closed

[2016-09-13 20:48] tomwanzek commented on #41
As the module-level migration to the **DefinitelyTyped/types-2.0** branch is complete, this issue will be closed. The issue is already listed in the [DefinitelyTyped Definition Request Issue 9936](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9936) for the new definitions and cross-referenced to the issue opened on TypeScript.

[2016-09-13 20:48] #41 closed

[2016-09-13 21:08] tomwanzek commented on #55
@Ledragon just wondering, if you want to pull these definitions still through here for old time's sake or submit them directly as a PR to **DefinitelyTyped/types-2.0** As all the standard modules + the already complete optional scope modules are now merged and available through `@types`, I intend to wind this repo down for purposes of collaboration.

Anything that is still open, I will migrate ove

[2016-09-13 21:17] tomwanzek commented on #114
FYI. They are now published on DT and @types!

[2016-09-13 21:50] tomwanzek commented on #31
Closing this issue. The module-level TS2 definitions have been migrated to **DefinitelyTyped/types-2.0**.

The [DT Definitions Request Issue 9936](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9936) has been updated to include the question about resourcing the conversion of these definitions to TS 1.8.x and supporting them for a transition period.

Please refer to the above referenced

[2016-09-13 21:50] #31 closed

[2016-09-14 06:01] Ledragon commented on #55
I am on the test phase, so it that is OK with you I'd rather submit it through here, as the fork and the branch are already created. I'll do my best to finish it ASAP so that I don't hold you down.

[2016-09-14 06:03] Ledragon commented on #114
Yipee!!
:tada: :tada:

[2016-09-14 13:16] tomwanzek commented on #55
Hey, as I said, all up to you. So I will build a nice fence around you :smile:. Whenever you are ready we will pull it through both repos. No worries. Cheers, Tom

[2016-09-16 04:03] mattma opened #117 "How to get d3.select().transition to work"
I am using Angular 2.0.0 final, with d3 v4.3.2, typescript to test out some basic feature.

I am using 'd3-selection' module with @types/d3-selection.

[code]

Here is my first question, how do I use it? it will give me an error with "Generic type 'Selection<GElement, Datum, PElement, PDatum>'". I know that I need to give a type of it. so that I just give all 'any' to bypass this step. An explanat

[2016-09-16 04:26] mattma commented on #117
Just tried this weird thing and it works.

[code]

Is this how it works in V4 and typescript? look weird to you?

By default, `const el: Selection<any, any, any, any> = select(<HTMLElement>'someDiv')`. after I wrap it in `transition(el)`, I run into an error   `Selection<any, any, any, any> is not assignable to parameter of type  Transition<any, any, any, any>`. I thought Transition is extended fr

[2016-09-16 13:22] Ledragon commented on #55
PR submitted :wink:

[2016-09-16 13:47] tomwanzek commented on #55
Thanks as always. I will have a look as soon as I can. Just migrating some things over to angular-cli beta.14/Angular 2.0.0... never a dull moment. Then I will also migrate/restructure the open issues on DT and update the README here for ease of reference.

Will cc you as I go along.

[2016-09-16 14:10] tomwanzek commented on #117
The short answers are the following. Note that, everything under (1) assumes you are using module imports (not vanilla scripts).

**(1) Getting transitions to work on an existing selection**

With the new D3 version 4, the **d3-transition** module extends the **d3-selection** module's `Selection`. This means, you need to import it for the side-effect (at a minimum):

[code]

This will extend the `

[2016-09-16 14:16] tomwanzek commented on #1
Closing this issue here. It is a know DT/types-publisher issue to allow parallel version structures in DT/types-2.0. The TS team intends to provide a solution to it.

The issue will be tracked on DT on a go-forward basis until resolution.

[2016-09-16 14:16] #1 closed

[2016-09-16 14:16] #117 closed

[2016-09-16 14:25] tomwanzek commented on #117
PS. I forgot, you mentioned that you are using Angular 2. I have published a simple/straight-forward Angular 2 Service to get D3 up and running in an ng2 project quickly (i.e. with TS2 support)

You can find it at:
- Github source repo [d3-ng2-service](https://github.com/tomwanzek/d3-ng2-service)
- or simply run `npm install d3-ng2-service --save` (see [https://www.npmjs.com/package/d3-ng2-service

[2016-09-16 15:13] Ledragon commented on #55
Sure no rush, thanks for the follow-up

[2016-09-16 16:28] mattma commented on #117
Thank @tomwanzek  very much for your in-depth knowledge on how transition works. I am definitely interested on the first method that you mentioned. `(1) Getting transitions to work on an existing selection`

I have been followed with your process on D4 V4 typescript updates for a while. Because I was limited to system.js and typescript 1.8, i can not play around with the new shining stuffs. I even

[2016-09-16 18:30] tomwanzek commented on #117
Thx.

_TS 1.8 Definitions_
I closed the matter in this repo, but raised it in the main thread on DefinitelyTyped (see [Issue 9936](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9936)) It's at his point a cost benefits issue. Stripping out TS2-specific features, rewrapping, publishing separately and maintaining it at least for some time. Personally, I do not have the cycles for such a p

[2016-09-19 15:37] timruffles opened #119 "TypeScript 2.x - BaseType + null"
Using typescript 2.0.2, I see the following errors on compilation:

[code]

with the following compiler config:

[code]

I think `BaseType` needs to be made nullable

[2016-09-19 19:13] tomwanzek commented on #119
@timruffles yes, the `strictNullChecks` should be the reason why you experience the error. As I finalize the migration from this repo to DefinitelyTypes/types-2.0 and by implication npm @types, this is a known open item to complete. I am going to transfer the effort to tackling it from here to DT, as it saves the added synchronization effort between the two repos, now that the module-level migrati

[2016-09-21 00:18] tomwanzek commented on #119
As discussed, the issue has been migrated to DefinitelyTyped as a work item under [issue 11365](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/11365)

[2016-09-21 00:18] #119 closed

[2016-09-21 01:28] tomwanzek commented on #116
This issue has been transferred to **DefinitelyTyped/types-2.0** as [issue 11367](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/11367). It requires a structural solution to the parallel version issue in DT/types-2.0.

[2016-09-21 01:28] #116 closed

[2016-09-21 03:11] tomwanzek opened #120 "Update README to Indicate Completed Migration to DT"

[2016-09-21 03:24] tomwanzek opened #121 "[Chore] d3-array carry over recent test fix from DT"

[2016-09-21 03:25] tomwanzek opened #122 "Create Final Release as Cut-Over to DT"
After migrating d3-scale-chromatic from PR #118

[2016-09-21 03:42] tomwanzek commented on #61
Closed with #118.

[2016-09-21 03:42] #61 closed

[2016-09-21 03:43] tomwanzek commented on #55
Thanks a lot. Will migrate over to DT and cc you on the PR. :tada: Closed with #118.

[2016-09-21 03:43] #55 closed

[2016-09-21 04:10] tomwanzek commented on #121
Done.

[2016-09-21 04:10] #121 closed

[2016-09-21 14:18] tomwanzek commented on #105
@Ledragon your definitions for d3-scale-chromatic have been merged into DT/types-2.0 and are up and running with working version number on npm @types!

Thanks for all the contributions!!!

[2016-09-21 14:18] #105 closed

[2016-09-22 07:03] Ledragon commented on #105
weehee :tada:
Most welcome!

[2016-09-24 20:23] tomwanzek commented on #120
Closed with #123.

[2016-09-24 20:23] #120 closed

[2016-09-24 20:30] tomwanzek commented on #122
done.

[2016-09-24 20:30] #122 closed

[2016-09-26 01:34] tomwanzek commented on #115
@airasheed I apologize, the added comment must have slipped through my attention. I am not aware of a robust set of definitions that are TS 1.8 compatible. With the official release of TS 2, there unfortunately seems very little rationale to justify the effort to provide a backwards compatible version of the definitions in this repo (and now in DefinitelyTyped/types-2.0 branch and available throug

[2016-10-03 05:47] Ptival opened #124 "How to mention types using the new npm @types?"
So, as far as I can tell, with any other module I have tried so far, the definitions files have a line like:

    declare module Rx {
    declare module 'tsmonad'

Which lets me refer to parts of the module without importing it, for instance, in a definition file.

None of the d3 modules seems to have this. Therefore, at the moment, I can talk about d3 types in implementation files like this:

[2016-10-03 08:03] valorcurse commented on #124
I've been wondering this myself, I'd like to encompass everything under a 'd3' namespace (i.e. d3.selection, d3.time) without having to import every single package by doing `import * as 'd3' from 'd3'`.
This would help keep the code clear and avoid name collisions with other packages as @Ptival mentioned.

Is the only way to do this by creating an own module package which imports d3 packages and e

[2016-10-03 13:54] tomwanzek commented on #124
While I have closed this repo after completed migration to DefinitelyTyped/ypes-2.0 (and by implication to npm @types), I will provide a brief response below. Should it not suffice, please review the issue DT [9936](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/9936) for further context. The issue also cross-references any and all open items, which where carried over from this repo. So

[2016-10-03 13:54] #124 closed

[2016-10-14 13:27] NielsDM opened #125 "d3.arc()"
The typings let me use d3.svg.arc() but in D3.js V4 you need to use d3.arc().

[2016-10-14 13:59] tomwanzek commented on #125
@NielsDM Which typings did you install?  My guess would be you downloaded `npm install @types/d3 --save`?

This would imply, you are using typings still in line with D3 v3.5.x (The version number of the package pulled from at types will tell you based on the major and minor version.)

The behavior you described, should not occur with the definitions contained in this repo, in particular the ones f

[2016-10-14 14:38] tomwanzek commented on #125
So to add on: the definition you can work with is available at `npm install @types/d3-shape --save`. This way you will correctly have access to `d3.arc()` The current definitions version is located [here](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/types-2.0/d3-shape/index.d.ts)

[2016-10-14 14:38] #125 closed

[2016-10-16 15:01] JGitHub01 opened #126 "type guard"
There does not seem to be an easy way to distinguish for example between d3.ScaleLinear and d3.ScaleTime. I am wondering if it makes sense to add some kind of type property to make it easier.

There are other d3 types that may also need type guard. I wonder if it should be considered as a general practice.

[2016-10-19 14:13] tomwanzek commented on #126
@JGitHub01 You are correct in that there are circumstances for which it would be great to have some supporting type guards at the ready.

The type guards, would, however, have to be implemented as actual typescript code, rather than definition files.

When I created a D3 service for Angular 2, I added a discussion issue for a roadmap, where I flagged the same idea as a future enhancement, see [d3-

[2016-10-19 16:10] #126 closed

[2016-10-23 01:44] ITsvetkoFF opened #127 "webstorm autocompletion"
@tomwanzek, thanks for your work! You rocks!

Still experiencing some problems with getting all this work (auto-completion in webstorm). Tried your `d3-ng2-demo` and saw that is has no auto-completion from the box too...

maybe something specific?

Also the third step of *temporary workaround* (Add the hand-crafted definition file to your project compilation context) is not 100% clear for me... di

[2016-10-24 22:29] tomwanzek commented on #127
Thanks @ITsvetkoFF.  As I am not working with Webstorm (using VSCode), I am not sure, why autocomplete does not work when you install from `npm install @types/d3-MODULE` and use typescript module imports.  **d3-ng2-demo** should certainly work out of the box. (Have not heard an issue similar to yours yet.)

Is there any additional setting necessary to ensure Webstorm uses  TypeScript2?  For some t

[2016-10-26 14:27] #127 closed

[2016-10-27 21:37] tomwanzek commented on #127
@ITsvetkoFF if you run `npm install @types/d3 --save` you will now get the definitions for the D3 v4 Standard Bundle. This should address your question regarding the 'temporary workaround'... No longer needed. 😄

[2016-10-30 22:31] Ciwan1859 opened #129 "ScaleLinear<Range, Output> issue when used in an interface"
Hello

I have an interface that has the following property in the TypeScript class:

`import * as d3Scale from 'd3-scale';`
`yRange: d3Scale.ScaleLinear<Range, Output>;`

I have all my imports correct, but VS Code is complaining that it can't find `Output`. It says:

What am  I doing wrong? I should be able to use that in my interface no?

Any help would be greatly appreciated.

[2016-10-31 02:25] Leannechn opened #130 "d3-shap Cannot find name 'CanvasPathMethods'"
hello! I
Cannot find name 'CanvasPathMethods' in d3-shap may I missing some files?
// -----------------------------------------------------------------------------------
// SYMBOLS
// -----------------------------------------------------------------------------------
export interface SymbolType {
    draw(context: CanvasPathMethods, size: number): void;    // line num: 289
}
where is the CanvasPat

[2016-10-31 13:45] tomwanzek commented on #130
`CanvasPathMethods` is a subset of `CanvasRenderingContext2D`. It is used in conformance to the **d3-shape** API. See [Custom Symbol Types - symbolType.draw(...)](https://github.com/d3/d3-shape#symbolType_draw). There can be use cases where drawing a (custom) symbol type is done in a custom rendering context, such context does not have to implement all methods of `CanvasRenderingContext2D`.

`Canv

[2016-10-31 14:04] tomwanzek commented on #129
The angle-brackets signify that `Range` and `Output` are generic types, which need to be specified by you, when using the interface `ScaleLinear`, or the corresponding scale generator `scaleLinear`.

If you look at the shape tests in the definitions test file, you will see some examples of how they can be utilized, see [here](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/types-2.0/d3-sca

[2016-10-31 14:14] tomwanzek commented on #129
P.S. When I find some time, d3-shape is one of the definition files on my radar to include more comprehensive  JSDoc comments. All definitions developed in this repo are now maintained on DefinititelyTypes (feeding npm @types). I am already tracking an issue for enhanced comments there.

For those, I have gotten around to, the JSDoc comments are an adaptation of the actual D3 API comments with add

[2016-10-31 14:14] #129 closed

[2016-10-31 14:26] #130 closed

[2016-11-03 18:00] pallosp opened #131 "Add type declarations for version 4.3.0"
The latest d3 update brought 3 new functions (VoronoiDiagram.find, d3.geoIdentity, d3.geoGraticule10) and new arguments to d3.geoPath.

Changelog: https://github.com/d3/d3/releases/tag/v4.3.0

[2016-11-03 18:32] tomwanzek commented on #131
I am aware  of the changes, the definitions in this repo have been migrated to DefinitelyTyped (`types-2.0` branch). There you will find the latest available definitions, which are also the ones published to npm @types. All issues, enhancements related to the definitions in this repo are now managed on DT.

I have already updated the definitions for d3-voronoi to version 1.1.0 and published them.

[2016-11-03 18:32] #131 closed

[2017-01-05 17:40] billdwhite opened #132 "Does d3-ease definition need to be updated?"
I am using a transition with an easing function in d3 in my Angular 2 typescript application.  The following line of code, which I believe is valid, is generating errors when the typescript validation runs.
[code]

I get this error in the angular-cli 'ng build' process:

`Property 'amplitude' does not exist on type '(normalizedTime: number) => number'`

Looking at the d3-ease/index.d.ts file, I se

[2017-01-05 19:10] tomwanzek commented on #132
@billdwhite thanks for reporting. I am closing this issue in favor of the newly opened [DT issue 13767](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/13767)

[2017-01-05 19:11] #132 closed

[2017-01-05 19:53] billdwhite commented on #132
Thanks!!!

[2017-01-28 09:00] gretamosa opened #133 "d3-drag problems with Angular 2"
Hi,

I'm trying to reproduce the following d3 example (http://bl.ocks.org/cjrd/6863459) in my Angular2 app with d3-drag and d3-select capabilities but I found the following error:

[code]

My Typescript file has the following imports:
[code]

Finally, I'm using d3 v4.4.4 with Angular2 and using only d3-select the example works but without drag&drop capabilities.

Someone has experienced similar is

[2017-01-28 18:45] tomwanzek commented on #133
Please use Stackoverflow for how-to-questions.

If you suspect there is an error with the typescript definitions supporting a specific d3-module, please log an issue on DefinitelyTyped referencing the module name and @-mention me. I will then investigate.

This repo is only available for "historic" reference as it contains helpful background discussions related to design motivations behind the new

[2017-01-28 18:45] #133 closed

[2017-03-27 03:59] idahogurl opened #134 "scaleQuantile"
I am working on a heat map project where the domain is the min and max temperature. All the examples I've found use a quantile scale with a range set to a list of HEX RGB colors. The typing for scaleQuantile will not let me use numbers for the domain and strings for the range. I get a type error.

Does the typing have a bug? Could you advise of the correct scaling to use?

[2017-03-27 14:47] tomwanzek commented on #134
Subject to the little qualifier in the next paragraph, I suspect your question should be addressed as follows:
Use `scaleQuantile<string>().domain(...).range(...)` to create a scale with string range. `scaleQuantile()` and the corresponding interface `ScaleQuantile` both accept one generic referring to the data type of the range. The domain is numeric by design. Hope this addresses your question.

[2017-03-27 14:47] #134 closed

[2017-04-27 09:34] justforuse opened #135 "Property 'transition' does not exist on type 'Selection<BaseType, {}, null, undefined>' in angular2"
I use angular-cli to generate a new project
then I install d3
[code]
the version of angular is 4.0.0 and d3 is 4.8.0.
and I add these to typings.d.ts
[code]

and here is my app.component.ts:
[code]
but it occur an errror:
`Property 'transition' does not exist on type 'Selection<BaseType, {}, null, undefined>' in angular2`
If I remove `.transition()`, everythind performs well.
Is there any method t

[2017-04-27 14:03] tomwanzek commented on #135
This repo has been deprecated in favour of the migrated definitions actively maintained in DefinitelyTyped.

For an example on how to use **D3** within an Angular 2 project please see [d3-ng2-demo](https://github.com/tomwanzek/d3-ng2-demo). While it draws on the D3 Service provided by the [d3-ng2-service](https://github.com/tomwanzek/d3-ng2-service), you can simply directly define a comparable ser

[2017-04-27 14:03] #135 closed

[2017-04-28 17:01] AltekkeE opened #136 "How to use SimulationLinkDatum and SimulationNodeDatum"
I'm having a problem using the SimulationLinkDatum Type. I made two classes Node and Link that implement SimulationNodeDatum and SimulationLinkDatum<Node>.  When I go to try and use SimulationLinkDatum<Node> typescript says that d.source.x, d.targe.x, etc typescript says that "**Property 'x' does not exist on type 'string | number | Node'.**"

I understand that the SimulationLinkDatum accepts `num

[2017-04-28 18:29] tomwanzek commented on #136
As your question is more of a "how to" question, please post it on StackOverflow. Also, because I think it might be of broader interest, when answered there. You can ping me there or drop me a link to your SO question in this thread for reference.

Nevertheless, I am closing this issue, as this repo is not active for issues, but I am more than willing to respond as proposed above. Thx, for underst

[2017-04-28 18:29] #136 closed

[2017-04-29 13:35] dcavanagh commented on #136
Thanks - sorry about that. Here is a link to the SO question
http://stackoverflow.com/questions/43696302/how-to-use-simulationlinkdatum-and-simulationnodedatum-in-d3

[2017-04-30 21:21] tomwanzek commented on #136
Thanks for opening the SO question. I just posted a suggested answer.

[2017-09-21 09:04] startewho commented on #135
I have the same problem.And my d3 version is  4.10.2,and use the latest types/d3 .I also try the `d3-ng2-demo` .It report the same problem.

[2017-09-21 15:11] justforuse commented on #135
@startewho  This problem occured when i use cnpm. You can try other ways

[2017-09-22 12:22] startewho commented on #135
@justforuse the reason seems the ng-cli's problem.i update it to the latest(1.4.2) ,it work normal.Thank you so much.

[2018-09-27 22:38] jeremychone commented on #130
This one is coming back with TypeScript 3.1 ?

Actually, scratch that. Weird, I need a npm remove @types/d3 and then npm install @types/d3, and the this error disappeared?

[2018-10-09 16:15] vnugent commented on #130
I'm seeing similar error when upgrading to Typescript 3.1.1. Removing/reinstalling d3-* libs doesn't help.
[code]

[2018-10-09 16:23] jeremychone commented on #130
@vnugent It was weird in my case, I think I removed the node_modules and need a fresh install, perhaps a couple of time, and it went away.

[2018-10-11 11:39] peterhudec commented on #130
Same for me after upgrading to TypeScript `3.1`. Reinstalling `@types/d3-shape` didn't help, but removing it, then removing `./node_modules`, then reinstalling `@types/d3-shape` worked:

[code]

[2018-10-16 13:50] grogi commented on #130
I hate fixes like that - when it simply 'starts working'. Because it seems you didn't get to the bottom of the issue and it might pop-up again in least convenient moment.

Is there a difference of version of @types/d3-shape you used before and after?

[2018-10-27 00:38] kirillgroshkov commented on #117
Having the same issue...

[2018-10-27 16:37] alangpierce commented on #130
In my case it was `@types/d3` in my package.json and I use yarn, and I did `yarn remove @types/d3` and then `yarn add --dev @types/d3` to fix.

At least with yarn, my understanding is that uninstalling and reinstalling a package will update all of its dependencies to the latest matching version, whereas just installing a package at a new version will keep its dependencies the same as long as they

[2018-11-18 00:02] coder-mike commented on #117
I also encountered this issue. For people coming across this thread for the same reason I did, the reason turned out to be that there were two separate package instances of `d3-selection`, of slightly different versions. One instance was being patched with `transition` and the other instance was actually being used.

The two different version resolutions were apparent in my `yarn.lock` file as fol

[2019-07-03 10:11] drxwat commented on #117
To solve this issue and avoid hard coding css classes (in angular) you can use next code:

[code]

Note: `this.el` should correspond to element you want to animate. For example, you want to change `d` attribute of svg `path` element. Firstly, you should save the link to your `path` selection, then call transition on it. Here is the full code:
[code]